{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="container" ng-controller="DashboardController as dashboard">
        <div class="row" ng-repeat="dispositivo in dashboard.dispositivos_conectados">
            <h5 class="mb-4">
                Informações dos Sensores do KNoTDevice:
                <strong><i class="fa fa-connectdevelop"></i> {[{ dispositivo.name }]}</strong>
            </h5>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4" ng-repeat="sensor in dashboard.schema">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><span data-feather="thermometer"></span> Temperatura</h5>
                            <p class="card-text valor">
                                37º
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="row">#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><span data-feather="thermometer"></span> Temperatura</h5>#}
{#                        <p class="card-text valor">#}
{#                            37º#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><span data-feather="droplet"></span> Umidade</h5>#}
{#                        <p class="card-text valor">#}
{#                            70%#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><span data-feather="sun"></span> Luminosidade</h5>#}
{#                        <p class="card-text valor">#}
{#                            Alta#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><span data-feather="cloud-rain"></span> Chuva</h5>#}
{#                        <p class="card-text valor">#}
{#                            Baixa#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><span data-feather="git-commit"></span> Nível de Água</h5>#}
{#                        <p class="card-text valor">#}
{#                            Cheio#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><i class="fa fa-cutlery"></i> Nível de Ração</h5>#}
{#                        <p class="card-text valor">#}
{#                            Vazio#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <h5 class="my-4">Dispositivos</h5>#}
{#        <div class="row">#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">#}
{#                            <i class="fa fa-lightbulb-o"></i> Lâmpada#}
{#                        </h5>#}
{#                        <p class="card-text valor">#}
{#                            Ligada#}
{#                        </p>#}
{#                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">#}
{#                            <button type="button" class="btn btn-success" disabled>On</button>#}
{#                            <button type="button" class="btn btn-danger">Off</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><i class="fa fa-window-maximize"></i> Persiana</h5>#}
{#                        <p class="card-text valor">#}
{#                            Desligada#}
{#                        </p>#}
{#                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">#}
{#                            <button type="button" class="btn btn-success">On</button>#}
{#                            <button type="button" class="btn btn-danger" disabled>Off</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><i class="fa fa-bitbucket"></i> Bomba de Água</h5>#}
{#                        <p class="card-text valor">#}
{#                            Ligado#}
{#                        </p>#}
{#                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">#}
{#                            <button type="button" class="btn btn-success" disabled>On</button>#}
{#                            <button type="button" class="btn btn-danger">Off</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 col-md-6 col-lg-3 mb-4 mb-sm-4 mb-md-4">#}
{#                <div class="card">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title"><i class="fa fa-inbox"></i> Dispenser de Ração</h5>#}
{#                        <p class="card-text valor">#}
{#                            Desligado#}
{#                        </p>#}
{#                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">#}
{#                            <button type="button" class="btn btn-success">On</button>#}
{#                            <button type="button" class="btn btn-danger" disabled>Off</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}